In [27]:
import numpy as np
import pandas as pd

In [106]:
a =  [[1,2,3,4,5],[2,3,5,7,8]]

In [107]:
myarray = np.array(a)

In [108]:
myarray

array([[1, 2, 3, 4, 5],
       [2, 3, 5, 7, 8]])

In [122]:
df = pd.DataFrame(a,columns = ["a","b","c","d","e"], index = ["first","second"])

In [125]:
df = df.astype({"a": str,"b":float,"c":int,"d":float})

In [126]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
 1   b       2 non-null      float64
 2   c       2 non-null      int64
 3   d       2 non-null      float64
 4   e       2 non-null      int64
dtypes: float64(2), int64(2), object(1)
memory usage: 96.0+ bytes
None

In [152]:
student = [{"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
          {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":30,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":40,"Grade":"A"},
          {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":60,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":70,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},{"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"}]

In [153]:
df2 = pd.DataFrame(student)

In [98]:
df2

    Name Fname FinalMarks Grade
0  Ahmed   Ali         80     A
1  Ahmed   Ali         80     A
2  Ahmed   Ali       Fail     A
3  Ahmed   Ali         80     A
4  Ahmed   Ali         80     A

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Fname       5 non-null      object
 2   FinalMarks  5 non-null      object
 3   Grade       5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

In [91]:
# df2["FinalMarks"] = df2["FinalMarks"].astype(float)
df2["FinalMarks"] = pd.to_numeric(df2["FinalMarks"], errors = 'coerce')
pd.to_numeric?

Signature:
pd.to_numeric(
    arg,
    errors: 'DateTimeErrorChoices' = 'raise',
    downcast: "Literal['integer', 'signed', 'unsigned', 'float'] | None" = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
)
Docstring:
Convert argument to a numeric type.

The default return dtype is `float64` or `int64`
depending on the data supplied. Use the `downcast` parameter
to obtain other dtypes.

Please note that precision loss may occur if really large numbers
are passed in. Due to the internal limitations of `ndarray`, if
numbers smaller than `-9223372036854775808` (np.iinfo(np.int64).min)
or larger than `18446744073709551615` (np.iinfo(np.uint64).max) are
passed in, it is very likely they will be converted to float so that
they can be stored in an `ndarray`. These warnings apply similarly to
`Series` since it internally leverages `ndarray`.

Parameters
----------
arg : scalar, list, tuple, 1-d array, or Series
    Argument to be converted.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaN.
    - If 'ignore', then invalid parsing will return the input.

    .. versionchanged:: 2.2

    "ignore" is deprecated. Catch exceptions explicitly instead.

downcast : str, default None
    Can be 'integer', 'signed', 'unsigned', or 'float'.
    If not None, and if the data has been successfully cast to a
    numerical dtype (or if the data was numeric to begin with),
    downcast that resulting data to the smallest numerical dtype
    possible according to the following rules:

    - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
    - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
    - 'float': smallest float dtype (min.: np.float32)

    As this behaviour is separate from the core conversion to
    numeric values, any errors raised during the downcasting
    will be surfaced regardless of the value of the 'errors' input.

    In addition, downcasting will only occur if the size
    of the resulting data's dtype is strictly larger than
    the dtype it is to be cast to, so if none of the dtypes
    checked satisfy that specification, no downcasting will be
    performed on the data.
dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

Returns
-------
ret
    Numeric if parsing succeeded.
    Return type depends on input.  Series if Series, otherwise ndarray.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_datetime : Convert argument to datetime.
to_timedelta : Convert argument to timedelta.
numpy.ndarray.astype : Cast a numpy array to a specified type.
DataFrame.convert_dtypes : Convert dtypes.

Examples
--------
Take separate series and convert to numeric, coercing when told to

>>> s = pd.Series(['1.0', '2', -3])
>>> pd.to_numeric(s)
0    1.0
1    2.0
2   -3.0
dtype: float64
>>> pd.to_numeric(s, downcast='float')
0    1.0
1    2.0
2   -3.0
dtype: float32
>>> pd.to_numeric(s, downcast='signed')
0    1
1    2
2   -3
dtype: int8
>>> s = pd.Series(['apple', '1.0', '2', -3])
>>> pd.to_numeric(s, errors='coerce')
0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

Downcasting of nullable integer and floating dtypes is supported:

>>> s = pd.Series([1, 2, 3], dtype="Int64")
>>> pd.to_numeric(s, downcast="integer")
0    1
1    2
2    3
dtype: Int8
>>> s = pd.Series([1.0, 2.1, 3.0], dtype="Float64")
>>> pd.to_numeric(s, downcast="float")
0    1.0
1    2.1
2    3.0
dtype: Float32
File:      c:\users\memon\appdata\local\programs\python\python311\lib\site-packages\pandas\core\tools\numeric.py
Type:      function

In [88]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Fname       5 non-null      object
 2   FinalMarks  4 non-null      float64
 3   Grade       5 non-null      object
dtypes: float64(1), object(3)
memory usage: 292.0+ bytes

In [103]:
df2

    Name Fname FinalMarks Grade
0  Ahmed   Ali         80     A
1  Ahmed   Ali         80     A
2  Ahmed   Ali       Fail     A
3  Ahmed   Ali         80     A
4  Ahmed   Ali         80     A

In [104]:
df

        a    b  c    d  e
first   1  2.0  3  4.0  5
second  2  3.0  5  7.0  8

In [114]:
df["f"] = df["a"]+df["c"]

In [116]:
df.shape

(2, 6)

In [117]:
df.size

12

In [118]:
df2

    Name Fname FinalMarks Grade
0  Ahmed   Ali         80     A
1  Ahmed   Ali         80     A
2  Ahmed   Ali       Fail     A
3  Ahmed   Ali         80     A
4  Ahmed   Ali         80     A

In [156]:
df2["Class"] = pd.Series([12,11,10], index= [0,1,4])

In [157]:
df2["FinalMarks"] = pd.to_numeric(df2["FinalMarks"], errors = 'coerce')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Fname       20 non-null     object
 2   FinalMarks  16 non-null     float64
 3   Grade       20 non-null     object
 4   Class       3 non-null      float64
dtypes: float64(2), object(3)
memory usage: 932.0+ bytes

In [158]:
df2.describe()

       FinalMarks  Class
count   16.000000    3.0
mean    72.500000   11.0
std     15.705625    1.0
min     30.000000   10.0
25%     77.500000   10.5
50%     80.000000   11.0
75%     80.000000   11.5
max     80.000000   12.0

In [127]:
mydf = pd.read_csv("calories.csv")

In [133]:
mydf.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [141]:
pd.options.display.max_rows

9999999

In [139]:
mydf

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [147]:
mydf.describe().loc["count"]

Duration    169.0
Pulse       169.0
Maxpulse    169.0
Calories    164.0
Name: count, dtype: float64

In [144]:
mydf.Duration.mean()

np.float64(63.84615384615385)

In [162]:
print("yasir\r nawaz\b")

 nawa