In [27]:
import numpy as np
import pandas as pd

In [21]:
a =  [[1,2,3,4,5],[2,3,5,7,8]]

In [22]:
myarray = np.array(a)

In [25]:
myarray

array([[1, 2, 3, 4, 5],
       [2, 3, 5, 7, 8]])

In [51]:
df = pd.DataFrame(a,columns = ["a","b","c","d","e"], index = ["first","second"])

In [72]:
df = df.astype({"a": str,"b":float,"c":int,"d":float})

In [73]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      object
 1   b       2 non-null      float64
 2   c       2 non-null      int64
 3   d       2 non-null      float64
 4   e       2 non-null      int64
dtypes: float64(2), int64(2), object(1)
memory usage: 96.0+ bytes
None

In [78]:
student = [{"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
          {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
          {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},{"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":"Fail","Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"},
           {"Name":"Ahmed","Fname":"Ali","FinalMarks":80,"Grade":"A"}]

In [79]:
df2 = pd.DataFrame(student)

In [80]:
df2

    Name Fname FinalMarks Grade
0  Ahmed   Ali         80     A
1  Ahmed   Ali         80     A
2  Ahmed   Ali       Fail     A
3  Ahmed   Ali         80     A
4  Ahmed   Ali         80     A

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Fname       5 non-null      object
 2   FinalMarks  5 non-null      object
 3   Grade       5 non-null      object
dtypes: object(4)
memory usage: 292.0+ bytes

In [91]:
# df2["FinalMarks"] = df2["FinalMarks"].astype(float)
df2["FinalMarks"] = pd.to_numeric(df2["FinalMarks"], errors = 'coerce')
pd.to_numeric?

Signature:
pd.to_numeric(
    arg,
    errors: 'DateTimeErrorChoices' = 'raise',
    downcast: "Literal['integer', 'signed', 'unsigned', 'float'] | None" = None,
    dtype_backend: 'DtypeBackend | lib.NoDefault' = <no_default>,
)
Docstring:
Convert argument to a numeric type.

The default return dtype is `float64` or `int64`
depending on the data supplied. Use the `downcast` parameter
to obtain other dtypes.

Please note that precision loss may occur if really large numbers
are passed in. Due to the internal limitations of `ndarray`, if
numbers smaller than `-9223372036854775808` (np.iinfo(np.int64).min)
or larger than `18446744073709551615` (np.iinfo(np.uint64).max) are
passed in, it is very likely they will be converted to float so that
they can be stored in an `ndarray`. These warnings apply similarly to
`Series` since it internally leverages `ndarray`.

Parameters
----------
arg : scalar, list, tuple, 1-d array, or Series
    Argument to be converted.
errors : {'ignore', 'raise', 'coerce'}, default 'raise'
    - If 'raise', then invalid parsing will raise an exception.
    - If 'coerce', then invalid parsing will be set as NaN.
    - If 'ignore', then invalid parsing will return the input.

    .. versionchanged:: 2.2

    "ignore" is deprecated. Catch exceptions explicitly instead.

downcast : str, default None
    Can be 'integer', 'signed', 'unsigned', or 'float'.
    If not None, and if the data has been successfully cast to a
    numerical dtype (or if the data was numeric to begin with),
    downcast that resulting data to the smallest numerical dtype
    possible according to the following rules:

    - 'integer' or 'signed': smallest signed int dtype (min.: np.int8)
    - 'unsigned': smallest unsigned int dtype (min.: np.uint8)
    - 'float': smallest float dtype (min.: np.float32)

    As this behaviour is separate from the core conversion to
    numeric values, any errors raised during the downcasting
    will be surfaced regardless of the value of the 'errors' input.

    In addition, downcasting will only occur if the size
    of the resulting data's dtype is strictly larger than
    the dtype it is to be cast to, so if none of the dtypes
    checked satisfy that specification, no downcasting will be
    performed on the data.
dtype_backend : {'numpy_nullable', 'pyarrow'}, default 'numpy_nullable'
    Back-end data type applied to the resultant :class:`DataFrame`
    (still experimental). Behaviour is as follows:

    * ``"numpy_nullable"``: returns nullable-dtype-backed :class:`DataFrame`
      (default).
    * ``"pyarrow"``: returns pyarrow-backed nullable :class:`ArrowDtype`
      DataFrame.

    .. versionadded:: 2.0

Returns
-------
ret
    Numeric if parsing succeeded.
    Return type depends on input.  Series if Series, otherwise ndarray.

See Also
--------
DataFrame.astype : Cast argument to a specified dtype.
to_datetime : Convert argument to datetime.
to_timedelta : Convert argument to timedelta.
numpy.ndarray.astype : Cast a numpy array to a specified type.
DataFrame.convert_dtypes : Convert dtypes.

Examples
--------
Take separate series and convert to numeric, coercing when told to

>>> s = pd.Series(['1.0', '2', -3])
>>> pd.to_numeric(s)
0    1.0
1    2.0
2   -3.0
dtype: float64
>>> pd.to_numeric(s, downcast='float')
0    1.0
1    2.0
2   -3.0
dtype: float32
>>> pd.to_numeric(s, downcast='signed')
0    1
1    2
2   -3
dtype: int8
>>> s = pd.Series(['apple', '1.0', '2', -3])
>>> pd.to_numeric(s, errors='coerce')
0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

Downcasting of nullable integer and floating dtypes is supported:

>>> s = pd.Series([1, 2, 3], dtype="Int64")
>>> pd.to_numeric(s, downcast="integer")
0    1
1    2
2    3
dtype: Int8
>>> s = pd.Series([1.0, 2.1, 3.0], dtype="Float64")
>>> pd.to_numeric(s, downcast="float")
0    1.0
1    2.1
2    3.0
dtype: Float32
File:      c:\users\memon\appdata\local\programs\python\python311\lib\site-packages\pandas\core\tools\numeric.py
Type:      function

In [88]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        5 non-null      object
 1   Fname       5 non-null      object
 2   FinalMarks  4 non-null      float64
 3   Grade       5 non-null      object
dtypes: float64(1), object(3)
memory usage: 292.0+ bytes

In [96]:
df2.head

<bound method NDFrame.head of     Name Fname  FinalMarks Grade
0  Ahmed   Ali        80.0     A
1  Ahmed   Ali        80.0     A
2  Ahmed   Ali         NaN     A
3  Ahmed   Ali        80.0     A
4  Ahmed   Ali        80.0     A>